// Buttons
//
// Markup:
// <a href="#" class="btn">.btn</a>
// <button>&lt;button&gt;</button>
// <a href="#" class="btn ghost">.btn.ghost</a>
//
// Styleguide Components.buttons
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
a.btn {
	display: inline-block;
	border: 2px solid $highlight;
	padding: 10px 25px;
	color: #fff;
	@include font-size(12px);
	font-weight: bold;
	background-color: $highlight;
	cursor: pointer;
	transition: opacity 0.3s ease;
	&:hover, &:focus {
		color: #fff;
		opacity: 0.7;
		outline: none;
	}
	&.ghost {
		color: $highlight;
		background-color: transparent;
	}
}