/**
 * Featured callout
 *
 * For featured content or posts
 * This could be utilized depending on project specifics
 * (i.e. via a page builder element, ACF, etc.)
 * 
 *
 */
 .callout {
	position        : relative;
	display         : flex;
	flex-direction  : column;
	min-height      : 500px;
	justify-content : center;
	padding-top     : 150px;
	padding-bottom  : 150px;
	background-color: $highlight;
	overflow        : hidden;

	:last-child {
		margin-bottom: 0;
	}

	&__tag {
		
	}

	&__placeholder {
		position  : absolute;
		$blur     : 10px; // negative margins to retain sharp edges
		top       : -$blur;
		bottom    : -$blur;
		left      : -$blur;
		right     : -$blur;
		filter    :blur($blur);
		opacity   : 1;
		transition: opacity 1s linear;
		&.fade-out { // JS class added after full size image is loaded
			opacity: 0;
		}
	}

	&__content {

	}
}