/**
 * Entry meta
 */
 .entry-meta {

    &__post-title {
    }

    &__header {
    }

    &__author {
    }

    &__thumb {
    }

    &__image {
    }

    &__job {
    }

    &__title {
    }

    &__time {
    }

    &__footer {
    }

    &__tag {
    }

    &__link {

        @include bp-sm {
        }

        &:hover, &:focus {
        }
    }

    // MODIFIERS

 }