/**
 * Mobile Navigation
 */
#nav-toggle {
	display: none;

	&:checked ~ #mobile-nav {
		// For the fade animation to work properly without a slide we need the following.
		// - z-index, height, top, and opacity prevents visual and functional effects.
		// - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
		// - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
		z-index   : 49;
		top       : 0;
		opacity   : 1;
		height    : 100vh;
		transition: z-index 0s linear 0s, top 0s linear 0s, opacity 0.3s linear 0s, height 0s linear 0s;

		> ul {
			opacity   : 1;
			transform : translateY(0);
			transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0s;
		}
	}
}

.mobile-nav {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	justify-content: center;
	position       : fixed;
	top            : -999999px;
	height         : 0; // Important so it doesn't overlap page elements
	width          : 100%;
	z-index        : -1;
	opacity        : 0;
	color          : #fff;
	background     : $highlight;
	text-align     : center;
	// For the fade animation to work properly without a slide we need the following.
	// - z-index, height, top, and opacity prevents visual and functional effects.
	// - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
	// - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
	transition                 : z-index 0s linear 0.3s, top 0s linear 0.3s, opacity 0.3s linear 0s, height 0s linear 0.3s;
	backface-visibility        : hidden; // Prevents bugs in opacity.transitions
	transform                  : translate3d(0, 0, 0); // Adds hardware acceleration
	-webkit-backface-visibility: hidden; // Helps prevent animation flickers
	-webkit-perspective        : 1000; // Helps prevent animation flickers
	
	ul {
		width          : 100%;
		overflow-y     : scroll;
		margin         : 0;
		padding        : 0;
		list-style-type: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__menu {
		opacity                    : 0;
		transform                  : translateY(-100%);
		transition                 : opacity 0.5s ease 0s, transform 0.5s ease 0.15s;
		backface-visibility        : hidden; // Prevents bugs in opacity.transitions
		-webkit-backface-visibility: hidden; // Helps prevent animation flickers
		-webkit-perspective        : 1000; // Helps prevent animation flickers
	}

	a {
		color      : #fff;
		display    : block;
		padding    : 10px 30px;
		line-height: pxtorem(24px);
		@include font-size(20px);

		@include bp-lg {
			line-height: pxtorem(32px);
			@include font-size(30px);
		}
	}
}