/**
 * Quicklinks
 *
 */
 .quicklinks {

    a {
        font-weight: 300;
    }

    // when appearing within the masthead
    .header & {
        a {
            color: $black;
            display: block;
            padding: 5px 15px;
            @include font-size(12px);
        }
    }
    
    .header--background & {
        a {
            color: white;
        }
        color: white;
    }
 }