// Main page header
.header {
	position  : fixed; // For when JS is not active
	top       : 0;
	z-index   : 50;
	width     : 100%;
	background: transparent;
	transition: all 0.3s ease;

	a {
		color  : #fff;
		display: block;
		padding: 20px 10px;
		@include font-size(14px);
	}

	[class^="icon-"] {
		display: block;
		color  : inherit;
	}

	@include bp-lg {
		padding-top: 35px;
	}


	// Main Navigation Wrap
	&__main {
		display        : flex;
		align-items    : center; // Vertical align all items
		justify-content: flex-end;  // Horizontally align items
		overflow       : hidden;
	}


	// Logo
	&__brand {
		display: block;

		svg {
			display   : block;
			width     : 197px;
			height    : 49px;
			margin    : 10px 10px 10px 0;
			transition: all 0.3s ease;

			path {
				fill      : #fff;
				transition: fill 0.3s ease;
			}

			@include bp-lg {
				width : 280px;
				height: 70px;
			}
		}
	}


	// Main navigation
	&__navigation {
		display: none;

		@include bp-lg {
			display  : inline-block;
			flex-grow: 1;

			> div {
				display        : flex;
				justify-content: flex-end;
			}
		}

		li {
			&.current-menu-item,
			&.current_page_ancestor {
				a {
					color: $highlight;
				}
			}
		}

		// dropdowns
		.sub-menu {
			display: none;
		}
		
		.menu-item:hover .sub-menu {
			display        : block;
			position       : absolute;
			padding        : 10px 0;
			list-style-type: none;
			z-index        : 5;
			background     : #fff;

			a {
				padding: 10px 20px;
				color  : inherit;
			}
		}
	}


	// Search button
	&__search-button {
		display: none;

		@include bp-lg {
			display: inline-block;

			&.icon-search:before {
				display     : inline-block;
				margin-right: 0;
				line-height : pxtorem(20px);
			}
		}
	}

	
	// Search Form
	&__search {
		display: none;
		
		.flex-wrapper {
			display       : flex;
			align-items   : center;
			padding-top   : 15px;
			padding-bottom: 15px;
		}
		
		form {
			flex-grow: 1;

			input[type="text"] {
				width           : 100%;
				margin          : 0;
				border          : none;
				color           : #fff;
				background-color: transparent;
				transition      : all ease 0.3s;
				@include font-size(25px);

				&:focus {
					outline: none;
				}
				&::-webkit-input-placeholder {
				    color: #FFF;
				}
				&:-ms-input-placeholder {
				    color: #FFF;
				}
				&::placeholder {
					color: #FFF;
				}
			}
		}

		#search-close {
			display: inline-block;
			cursor : pointer;
		}
	}


	// Mobile
	&__mobile-icon {
		// This is the <label> element that contains the menu icon
		display                   : inline-block;
		position                  : fixed;
		right                     : 30px;
		top                       : 22px;
		transform                 : translateY(-50%);
		padding                   : 6px;
		background-color          : $teal;
		cursor                    : pointer;
		-ms-user-select           : none;
		user-select               : none;
		transition                : transform 0.5s, opacity 0.5s;
		transition-timing-function: ease-out;

		> div {
			position: relative;
			width   : 16px;
			height  : 12px;
		}

		&:hover {
			.header__menu-line {
				&:first-child {
					transform: translateY(1px);
				}

				&:last-child {
					transform: translateY(-1px);
				}
			}
		}

		@include bp-md {
			top    : 51px;
			right  : 6%;
			padding: 12px;

			> div {
				width : 22px;
				height: 16px;
			}		
		}

		@include bp-lg {
			display: none;
		}

		@include bp-xl {
			opacity  : 0;
			z-index  : -1;
			transform: translateY(-200%);
		}
	}

	
	&__menu-line {

		position        : absolute;
		width           : 100%;
		height          : 2px;
		top             : 50%;
		background-color: #FFF;
		transition      : all 0.3s;

		&:first-child {
			top: 0;
		}

		&:nth-child(2), &:nth-child(3) {
			transform: translateY(-50%);
		}

		&:last-child {
			top   : auto;
			bottom: 0;
		}

		.mobile-nav-open & {
			&:first-child,
			&:last-child {
				opacity: 0;
				top    : 50%;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}



	// CONDITIONS

	// On page scroll OR no masthead present - break apart if needed
	.no-masthead &,
	.scroll-triggered & {
		background-color: #fff;
 	
	 	a {
	 		color: $text2;
	 	}

	 	input[type="text"] {
	 		color: $text2;

	 		&::-webkit-input-placeholder {
			    color: $text2;
			}
			&:-ms-input-placeholder {
			    color: $text2;
			}
			&::placeholder {
				color: $text2;
			}
	 	}

	 	.brand svg path {
	 		fill: initial;
	 	}
	}


	// No javascript fallback
	.no-js & {
		position: absolute;
	}
}