.wrap.container {
	main {
		padding-top: 70px;
		padding-bottom: 70px;

		> :last-child {
			margin-bottom: 0;
		}

		&:focus {
			outline: none;
		}
	}

	// If no masthead is present
	.no-masthead & {
		padding-top: 100px;
	}
}
.pagination {
	position: relative;
	margin-top: 30px;
	padding-top: 30px;
	.page-numbers {
		display: inline-block;
	    padding: 12px 10px;

	    &.current {
	    	
	    }
	}
	.prev, .next {
		display: block;
		position: relative;
		margin: 0;
		@include bp-md {
			position: absolute;
			top: 30px;
		}
	}
	.prev {
		&:before {
			content: '<';
		}
		@include bp-md {
			left: 0;
			padding-left: 0;
		}
	}
	.next {
		&:after {
			content: '>';
		}
		@include bp-md {
			right: 0;
			padding-right: 0;
		}
	}
}


/**
 * Search & 404
 */
.search-results-top {
	align-items: center;
	margin-bottom: 30px;
	h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.no-js {
	.search-results-top {
		form {
			flex-direction: row;
		}
	}
}
.search-result {
	border-top: 1px solid $stroke;
	padding-top: 30px;
	[class^="col-"] {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.wp-post-image {
		margin-bottom: 35px;
	}
}
