
.icon-menu:before { content: '\4d'; } /* 'M' */
.icon-mail:before { content: '\65'; } /* 'e' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-gplus:before { content: '\67'; } /* 'g' */
.icon-linkedin:before { content: '\69'; } /* 'i' */
.icon-spin1:before { content: '\6f'; } /* 'o' */
.icon-search:before { content: '\73'; } /* 's' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-angle-down:before { content: '\76'; } /* 'v' */
.icon-cancel:before { content: '\78'; } /* 'x' */
.icon-youtube-play:before { content: '\79'; } /* 'y' */